/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{ 
    background-image: url("pexels-photo-1089842.jpeg");
    background-size: cover;
    background-repeat: space;
    background-color: beige;
 }

.h1{
    color: black;
    height: 40px;
    width: 400px;
    margin-left: 35%;
    margin-bottom: 1%;
    margin-top: 18%;
    border-radius: 15px;
    text-align: center;

}
 input{
    border-radius: 5px;
    height:30px ;
}
/* Basic styling for the container */
.container {
    max-width: 400px;
    padding: 20px;
    margin:  auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
} */
