<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="homepage1form.css">
</head>
<body>
    <div class="h1">
        <h1>Welcome To Gemini<img src="gemini.png"height=30px width="40px" > Ai </h1>
    </div>
    
    
    <div class="container">
        <h1>Create an Account</h1>
        <form action="action.php" >

            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <a href="index1.html">Submit</a>
            <!-- <button type="submit">Sign Up</button> -->
        </form>
    </div>
</body>
</html>